.menu {
    color:black;
    background-color: rgb(85, 147, 228);
    list-style-type:none;
    display: inline-block;
    width: 20%;
    padding: 0px;
    margin: 0px;
    font-size: 20px; 
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color:lightgrey;
  }
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    background-color: rgb(85, 147, 228);
}
.menu:hover {
    background-color: lightseagreen;
    color: black;
}
.column{
    float:left;
    width: 33.33%
    padding: 5px;
}
.row::after{
    content:"";
    clear: both;
    display: table;
}
table, th, td {
    border:1px solid black;
  }